* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titulo_principal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
}

.titulo_principal_mobile {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  font-size: 1.3rem;
}

.color-morado {
  color: rgb(84, 50, 196);
}
.fondo-morado-oscuro {
  background-color: rgb(88, 60, 180);
}

.fondo-morado {
  background-color: #8452f8;
}

.fondo-naranja-claro {
  background-color: #e09363;
}
.fondo-azul {
  background-color: #008bbe;
}
.fondo-azul-info {
  background-color: #037ca9;
}
.fondo-azul-claro {
  background-color: #71a0dd;
}

.fondo_verde {
  background-color: #158344;
}
.fondo_verde_oscuro {
  background-color: #167539;
}

.fondo_amarillo {
  background-color: #f8a500;
}
.fonde_amarillo_oscuro {
  background-color: #e6a503;
}
.fondo_salmon {
  background-color: #f85542;
}
.fondo_salmon_oscuro {
  background-color: #de4e39;
}

.titulo_secundario {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.letra_muy_pequeña {
  font-size: 14px;
}

.letra_extr_pequeña {
  font-size: 12px;
}

.fondo-menu {
  background-color: #333945;
}
.enlace-menu {
  display: block;
  padding: 0.2rem 0.5rem;
  margin: 0;
  border-radius: 0.2rem;
}
.enlace-menu:hover {
  background-color: #008bbe;
  color: white;
}

.ancho {
  max-width: 320px;
}

.altura-completa {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto; 
}
.action {
  cursor: pointer;
  font-weight: bold;
  border: none; 
  background: none; 
  padding: 0; 
  color: inherit; 
  font-size: 1.2rem; 
}

.action:focus {
  outline: none; 
  box-shadow: none; 
}

.margen {
  margin-left: 16.66667%; 
  max-height: 100vh; 
  overflow-y: auto; 
}

.fondo-login {
  background-image: url("/login_portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.sombra{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
  max-width: 600px;
  padding: 20px;
}

.sombra2{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
}

