body {
  overflow-x: hidden;
  background-color: #dad7d7f6;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.titulo_principal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.5rem;
}

.titulo_principal_mobile {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.2rem;
}
.fondo-verde{
  border: 1px solid #0C3B2E;
  
}
.color-morado{
  color: rgb(84, 50, 196);
}
.fondo-morado{
  background-color: rgb(84, 50, 196);
}
.borde-morado{
  border: 1px solid rgb(118, 81, 244);
}
.fondo-morado-claro{
  background-color: #9d83da;
}
.fondo-naranja{
  border: 1px solid #f78b48 ;
}
.fondo-naranja-claro{
  background-color: #e09363;
}
.fondo-azul{
  border: 1px solid #3d8cf4;
}
.fondo-azul-claro{
  background-color: #71a0dd;
}

.fondo-rojo{
  border: 1px solid #f86262;
}
.fondo-rojo-claro{
  background-color: #e09393
}

.color-verde-claro{
  background-color: #477467;
}

.titulo_secundario {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
 
}

.letra_muy_pequeña{
  font-size: 12px;
}



.offcanvas-background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),  /* Negro oscuro semitransparente */
    rgba(0, 0, 0, 0.9) 
  ), 
  url('/a2cfddcaf6b449286a4b0c1a2eae08bb.jpg');  /* URL de la imagen de fondo */

  background-size: cover;  /* Asegura que la imagen de fondo cubra todo el contenedor */
  background-position: center center;  /* Centra la imagen de fondo en el contenedor */
  padding: 20px;  /* Añade un poco de padding para dar espacio al contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra para resaltar el contenido */
  color:#ffffff;
}

.enlace-menu{
  color: black;
  padding: .2rem;
}
.enlace-menu:hover{
  background-color: rgb(84, 50, 196);
  color: white;
  border-radius: .5rem;
  padding: .2rem;
}

.ancho{
  max-width: 320px;
}

.altura-completa{
  height:100vh;
}
.action {
  cursor: pointer;
  color: #007bff;
  font-size: 1rem;      /* Agranda el tamaño del texto */
  font-weight: bold;      /* Hace los puntos más gruesos */
}


