.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.titulo_principal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 2.2rem;
}

.titulo_principal_mobile {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
    font-size: 1.5rem;
}
.fondo-verde{
  background-color: #0C3B2E;
}
.color-morado{
  color: rgb(118, 81, 244);
}
.fondo-morado{
  background-color: rgb(118, 81, 244);
}
.fondo-morado-claro{
  background-color: #b29be8;
}
.fondo-naranja{
  background-color: #f78b48;
}
.fondo-naranja-claro{
  background-color: #f5a777;
}
.fondo-azul{
  background-color: #3d8cf4;
}
.fondo-azul-claro{
  background-color: #8bb1e4;
}

.fondo-rojo{
  background-color: #f86262;
}
.fondo-rojo-claro{
  background-color: #f7b5b5
}

.color-verde-claro{
  background-color: #256351;
}

.titulo_secundario {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
 
}

.letra_muy_pequeña{
  font-size: 12px;
}



.offcanvas-background {
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),  /* Negro oscuro semitransparente */
    rgba(0, 0, 0, 0.9) 
  ), 
  url('/a2cfddcaf6b449286a4b0c1a2eae08bb.jpg');  /* URL de la imagen de fondo */

  background-size: cover;  /* Asegura que la imagen de fondo cubra todo el contenedor */
  background-position: center center;  /* Centra la imagen de fondo en el contenedor */
  padding: 20px;  /* Añade un poco de padding para dar espacio al contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra para resaltar el contenido */
  color:#ffffff;
}

.btn-close{
  color: white;
}


